.container{
	/*background-image: url("img/bg.jpg");*/
	margin-top: 60px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #10101052!important;

}
table tr,td{
	color:white;
}